{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Se Connecter</h1>
        <form action="{{ path('app_login') }}" method="post">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="_username" value="{{ last_username }}" id="username" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
            </div>

            <input type="hidden" name="_target_path" value="/accueil">
            <button type="submit" class="btn btn-primary">Se Connecter</button>

            <span class="psw"><a href="/reset-password">Mot de passe oublié ?</a></span>
            {% if error %}
                <div style="color: red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </form>
    </div>

{% endblock %}
