{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <center><h1>Bienvenue sur A Week Of Culture !</h1>
    <p>Clique ici pour voir tout les posts ;D </p>
    <p>|</p>
    <p>|</p>
    <p>\/</p>
    <a href="/posts"><button type="submit">Les Posts! </button></a></center>
</div>
{% endblock %}
